Flask
Flask-SQLAlchemy
SQLAlchemy
Flask-Migrate
Flask-WTF
email-validator
Flask-Login
Flask-Admin==1.6.1
Flask-RESTful
flasgger
pandas
openpyxl
python-barcode
Pillow
pyzbar
Werkzeug
Flask-SocketIO
python-socketio
redis
Flask-Caching
python-dotenv
pytest
coverage